<%- include('../header') %>

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-primary">
  <div class="container clearfix">
    <h2 class="title-page">Admin</h2>

    <nav class="float-left">
      <ol class="breadcrumb text-white">
        <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
        <li class="breadcrumb-item"><a href="/admin/categorias">Categorias</a></li>
        <li class="breadcrumb-item"><a href="#">Nova</a></li>
      </ol>
    </nav>
  </div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg padding-y">
  <div class="container">

    <div class="row">
      <main class="col-sm-12">
        <div class="card">
          <header class="card-header">
            <a href="/admin/categorias/" class="float-right btn btn-outline-primary mt-1">Voltar</a>
            <h4 class="card-title mt-2">Editar Categoria</h4>
          </header>
          <article class="card-body">
            <form method="POST">
              <div class="form-group">
                <label for="category">Categoria:</label>
                <input type="text" name="category" id="category" class="form-control <% if (errors.indexOf('category') >= 0) { %> is-invalid <% } %> " placeholder="" value="<%= form.category %>">
                <div class="invalid-feedback">
                  Insira a categoria
                </div>
              </div> <!-- form-group end.// -->
              <div class="form-group">
                <label for="description">Descrição:</label>
                <textarea type="text" name="description" id="description" class="form-control <% if (errors.indexOf('description') >= 0) { %> is-invalid <% } %>" placeholder=""><%= form.description %></textarea>
                <div class="invalid-feedback">
                  Insira a descrição
                </div>
              </div> <!-- form-group end.// -->
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Salvar </button>
              </div> <!-- form-group// -->
            </form>
          </article> <!-- card-body end .// -->
        </div> <!-- card.// -->


      </main> <!-- col.// -->
    </div>

  </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<%- include('../../footer') %>